[alias]
	st = status -sb
	br = branch -vv
	bra = branch -vv --all
	bed = branch --edit-description
	ci = commit -v
	ca = commit --amend -v
	save = commit -a -m "Save"
	co = checkout
    gr = log --graph --format=line # graph
	grd = log --graph --format=detail # graph detail
	gra = log --graph --format=line --all # graph all
	grad = log --graph --format=detail --all # graph all in detail
    lg = log -p
    lg1 = log --oneline
    lg1a = log --oneline --all
    lgo = log --follow --oneline
    lgoa = log --follow --oneline --all
    graph = log --all --graph --pretty=format:'%C(auto)%h%C(auto)%d %s %C(dim white)(%aN, %ar)'
    graph2 = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
    br = branch -vv
	bra = branch -vv --all
    # Print brnaches by last used
    wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
    count = diff --stat "4b825dc642cb6eb9a060e54bf8d69288fbee4904" # hash of empty tree
	credit = shortlog -sn
[pretty]
	line = "%C(auto)%h %<|(60,trunc)%s %C(green)%ad%C(auto)%d"
	detail = "%C(auto)%h %s%n  %C(yellow)by %C(blue)%an %C(magenta)<%ae> [%G?] %C(green)%ad%n %C(auto)%d%n"
[url "https://github.com/"]
	insteadOf = git://github.com/
[https]
	postBuffer = 2097152000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[delta]
    side-by-side = true
[delta]
    line-numbers = true

[http]
	postBuffer = 2097152000
[user]
	signingKey = 4905F80C
